<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mys/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mys/bootstrap.min.css' %}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <a href="{% url 'home' %}" class="navbar-brand MYSFont">MYS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            
                            <a href="{% url 'home' %}" class="nav-link text-dark">Home</a>
                        </li>
                        <li class="nav-item">
                            
                            <a href="{% url 'help' %}" class="nav-link text-dark">Help</a>
                        </li>
                        
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            
                            <a href="{% url 'MYS App' %}" class="nav-link text-dark">MYS App</a>
                        </li>
                        {% endif %}


                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            
                            <div class="nav-link text-dark">Welcome {{user.get_username}}!</div>
                        </li>
                        <li class="nav-item">
                                
                            <a href="{% url 'logout' %}" class="nav-link text-dark">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            
                            <a href="{% url 'register' %}" class="nav-link text-dark">Register</a>
                        </li>
                        <li class="nav-item">
                            
                            <a href="{% url 'login' %}" class="nav-link text-dark">Login</a>
                        </li>
                        {% endif %} 


                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="body-content">
                {% block content %}
                {% endblock %}
                <hr />
                
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MYS 
        </div>
    </footer>
    <script src="{% static '/lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/site.js' %}"></script>
    <script type="text/javascript"> 
    window.CSRF_TOKEN = "{{ csrf_token }}"
    
    </script>
    <!--@RenderSection("Scripts", required: false)-->
</body>
</html>



